<div class="mt-3 ps-3" style="color: burlywood;font-family: 'Tilt Neon', cursive;"><h3>{{data}}</h3></div>

<div class="container w-25 p-3 text-center g" style="margin-top: 150px;background-color: rgba(109, 99, 87, 0.523);">
    <h1 class="text-center text white" style="font-family: 'Lora', serif;" ><b>LOGIN</b></h1>
    <form action="">
        <input [(ngModel)]="acno" id="u1" name="uname" class="form-control" type="text" [placeholder]="data1"><br>
        <input [(ngModel)]="pass" id="p1" name="password" class="form-control" type="password" placeholder="Password"><br>

       
        <button (click)="login()" type="submit" class="btn btn-primary">Submit</button>
        <p class="text-white mt-2">Dont have account? <a style="text-decoration: none; color: brown; " href="register">Create Account</a> </p>
      </form>
</div>